/* Theme colors
black - #0C0B0F
white - #F0E7F4
purple - #5F1C74
pink - #912261
light pink - #EADBF9
blue - #023A83
inspired by: https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.fineartamerica.com%2Fimages%2Fartworkimages%2Fmediumlarge%2F1%2Fmoon-fairy-lynne-mcqueen.jpg&f=1&nofb=1&ipt=6d53546b787d8b9e9c912e619e09647ef77dc0cc0e4e94e9e27b93bde4b095d4&ipo=images
*/

/* Theme Google font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* SITEWIDE */
body {
    color: #0C0B0F;
    font-family: 'EB Garamond', sans-serif;
    margin: 0 auto;
    background-color: #F0E7F4;
}

body a {
    color: #0C0B0F;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    font-size: 20px;
}

body a:hover {
    color: #912261;
}

body h1,h2,h3,h4,h5,h6 {
    color: #912261;
    font-weight: 800;
}

body p {
    font-size: 20px;
}

/* Nav Bar */
.nav-bar {
    padding: 70px 30px 30px 30px;
    background-color: #EADBF9;
}

.nav-container {
    float: right;
}

.nav-list {
    margin: 0;
    list-style-type: none;
}

.nav-item {
    display: inline;
    padding-left: 45px;
}

/* Main Body content */
.content {
    padding: 0px 30px 0px 30px;
}

/* Home Page content */
#past-image {
    width: 300px;
}

#present-image {
    height: 300px;
}

#future-image {
    height: 300px;
}